- must be printed in a very specific order. 
- The notation X|Y means that if both page number X and page number Y are to be produced as part of an update, 
page number X must be printed at some point before page number Y.

- page ordering rules and the pages to produce in each update (your puzzle input),
but can't figure out whether each update has the pages in the right order.

For example:

47|53
97|13
97|61
97|47
75|29
61|13
75|53
29|13
97|29
53|29
61|53
97|53
61|29
47|13
75|47
97|75
47|61
75|61
47|29
75|13
53|13

75,47,61,53,29
97,61,53,29,13
75,29,13
75,97,47,61,53
61,13,29
97,13,75,29,47

- then page number 47 must be printed at some point before page number 53. (47 doesn't necessarily need to be immediately before 53; other pages are allowed to be between them.)

- start by identifying which updates are already in the right order.

- middle page number of each update being printed.